
<h1>Try CSharp</h1>

<div id="console">
</div>

@section Scripts
{    
    <script language="javascript">
        var url = '@Url.Action("Index", new {sid = ViewContext.RouteData.Values["sid"]})';
        $(document).ready(function () {
            $('#console').terminal(function (command, term) {
                $.post(url, { statement: command }, function (data) {
                    term.echo(data);
                });
            }, {
                 prompt: 'cs>', 
                name: 'trycsharp',
                greetings: [
                    ['Welcome to CSharp Console'],
                    ['Try out the code snippets here']
                ]
            });
        });
        
        function loggedIn() {
            
        }
        
    </script>
}