@{
    ViewBag.Title = "LogOn";
}

@using (Html.BeginForm())
{
    <div>
        Username : @Html.TextBox("username")  
    </div>
    <div>
        Password : @Html.Password("password")  
    </div>
   <input type="submit" value="LogIn"/>
}
